@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  background-color: $background-color;
  color: $text-color;
  line-height: 1.6;
  direction: rtl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $spacing-md;
  font-weight: 600;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: $spacing-xl;
}
